<nav class="navbar navbar-inverse" style="border-radius: 0">
  <div class="container">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">RecipeBook</a>
    </div>
    <div class="collaps navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="/recipes">Recipes</a></li>
        <li><a href="/shopping-list">Shopping List</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li ngbDropdown class="dropdown">
          <a ngbDropdownToggle href="#" class="dropdown-toggle" role="button"
            >Manage Data <span class="caret"></span
          ></a>
          <ul ngbDropdownMenu class="dropdown-menu">
            <li ngbDropdownItem><a href="#">Save Data</a></li>
            <li ngbDropdownItem><a href="#">Fetch Data</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
